body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(54, 51, 51);
}


div{
    display: flex;
    
}
button{
   background: rgb(255, 0, 0);
   color: rgb(255, 255, 255);
   border: 2px solid rgb(255, 255, 255);
   border-radius: 5px;
}

@media (min-width: 768px) {
    button{
        margin-left: 0.3rem;
        font-size: 2rem;
    }
    h1{
        font-size: 4rem;
        font-weight: 900;
    }
    h2{
        font-size: 4rem;   
    }
}
